custom/*
!custom/config.example.ini
!custom/routes.example.ini
!custom/exceptions.example.ini
!custom/README.md
Makefile
.DS_Store
*/.DS_Store
*/*/.DS_Store
*/*/*/.DS_Store
*/*/*/*/.DS_Store
nbproject/*
nbproject/private/*
.settings
.buildpath
.project
cores/error/*
framework/*