#
# The DataTank .htaccess file
#
# © 2013 OKFN Belgium vzw/asbl
# by Pieter Colpaert
# by Jan Vansteenlandt
#

Options -Indexes
Options +FollowSymLinks

AddDefaultCharset UTF-8

<IfModule mod_rewrite.c>
RewriteEngine On
RewriteCond %{REQUEST_FILENAME} !-f
RewriteRule ^.*$ framework/router.php
RewriteRule .* - [E=HTTP_AUTHORIZATION:%{HTTP:Authorization},L]
</IfModule>

<Files ~ "\.(ini|sql)$">
  order allow,deny
  deny from all
</Files>