<?xml version="1.0" encoding="UTF-8"?>
<phpunit backupGlobals="false"
         backupStaticAttributes="false"
         bootstrap="bootstrap/autoload.php"
         colors="true"
         convertErrorsToExceptions="true"
         convertNoticesToExceptions="true"
         convertWarningsToExceptions="true"
         processIsolation="false"
         stopOnFailure="false"
         syntaxCheck="false"
>
    <testsuites>
        <testsuite name="Application Test Suite">
            <!-- <directory>./app/tests/api</directory> -->
            <file>./app/tests/api/CsvTest.php</file>
            <file>./app/tests/api/JsonTest.php</file>
            <file>./app/tests/api/ModelPagingTest.php</file>
            <file>./app/tests/api/ShpTest.php</file>
            <!-- <file>./app/tests/api/SparqlTest.php</file> -->
            <!-- <file>./app/tests/api/SpectqlTest.php</file> -->
            <file>./app/tests/api/XlsTest.php</file>
            <directory>./app/tests/repositories</directory>
            <directory>./app/tests/ui</directory>
        </testsuite>
    </testsuites>
</phpunit>