.com { color: $text-softer; }
.lit { color: #195f91; }
.pun, .opn, .clo { color: #666; }
.fun { color: #dc322f; }
.str, .atv { color: $primary-highlight; }
.kwd, .prettyprint .tag { color: #1e347b; }
.typ, .atn, .dec, .var { color: teal; }
.pln { color: #666; }

.prettyprint {
    padding: 2px;
    font-size: 11px;
    border: 1px solid $border-color-soft;
    background: rgba(255,255,255, 0.2);
    box-shadow: none;
    max-height: calc(100vh - 125px);
    overflow-y: auto;
    position: relative;

    ol{
        width: auto;
    }

    li{
        padding-left: 12px;
        color: #bebec5;
        line-height: 20px;
        font-size: 11px;
        width: 100%;

        &:nth-child(odd) {
            background-color: #fff;
        }

        &:nth-child(even) {
            background-color: $background;
        }
    }
}

ol.linenums {
    margin: 0 0 0 20px; /* IE indents via margin-left */
}