.com { color: #93a1a1; }
.lit { color: #195f91; }
.pun, .opn, .clo { color: #666; }
.fun { color: #dc322f; }
.str, .atv { color: darken(#328D81, 2%) }
.kwd, .prettyprint .tag { color: #1e347b; }
.typ, .atn, .dec, .var { color: teal; }
.pln { color: #666; }

.prettyprint {
    padding: 2px;
    font-size: 11px;
    border: 1px solid darken(#F5F4EE, 10%);
    background: rgba(255,255,255, 0.2);
    box-shadow: none;
    max-height: 700px;
    overflow-y: auto;
    position: relative;

    ol{
        width: auto;
    }

    li{
        padding-left: 12px;
        color: #bebec5;
        line-height: 20px;
        font-size: 11px;
        width: 100%;

        &:nth-child(odd) {
            background-color: rgba(255 , 255, 255, 0.8);
        }

        &:nth-child(even) {
            background-color: rgba(225, 225, 225, 0.01);
        }
    }
}

ol.linenums {
    margin: 0 0 0 20px; /* IE indents via margin-left */
}