$green: #328d81;
$beige: #F5F4EE;
$darker-beige: #EBEAE4;
$highlight: #fff;

$footer-height: 60px;

html, body{
    height: 100%;
}

*{
    padding: 0px;
    margin: 0px;
    -webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
    -moz-box-sizing: border-box;    /* Firefox, other Gecko */
    box-sizing: border-box;         /* Opera/IE 8+ */
}

body {
    background-color: $green;
    color: #fff;
    font-family: 'Open Sans', 'Oswald', sans-serif;
    font-weight: 100;
    font-size: 14px;
}

p{
    line-height: 20px;
}

h1{
    font-size: 40px;
    margin-bottom: 15px;
    margin-top: 25px;
}

h3{
    line-height: 20px;
    margin-bottom: 15px;
    font-size: 20px;
    font-weight: 400;
}

.wrapper{
    min-height: 100%;
    height: auto !important;
    height: 100%;
    margin-bottom: -$footer-height;
}

footer{
    height: $footer-height;
    width: 100%;
    line-height: $footer-height;
    font-size: 11px;
    padding: 0px 25px;
    text-align: center;
}

.push{
    height: $footer-height;
    width: 100%;
}

a{
    color: #fff;
    text-decoration: none;
    border: 0px none;

    &:focus, &:hover{
        text-decoration: none;
        color: $highlight;
    }
}

.error{
    width: 70%;
    margin: 0px auto;
    padding-top: 100px;

    .logo{
        float:left;

        img{
            width: 200px;
        }
    }
}

.clearfix:after {
    content: ".";
    display: block;
    clear: both;
    visibility: hidden;
    line-height: 0;
    height: 0;
}


@media (max-width:660px){

    .error{
        width: 80%;
        padding-top: 20px;
    }


    .logo{
        display: none;
    }
}