@import 'bootstrap';
@import 'prettify';
@import 'font-awesome';

$primary: #183440;
$primary-highlight: #3C606E;
$primary-soft: desaturate(lighten($primary-highlight, 40%), 15%);

$secondary: #DCDBBD;
$secondary-highlight: lighten($secondary, 16%);

$third: #90AB9C;
$highlight: #90AB9C;

$header-height: 60px;
$footer-height: 60px;
$footer-border: 2px;

$green: #36ab70;

*{
    outline: none !important;
}

html, body{
    height: 100%;
}


body {
    background-color: $secondary-highlight;
    font-family: 'Open Sans', 'Oswald', sans-serif;
    font-size: 13px;
    color: #3C606E;
    padding-top: $header-height + 20;
}

.wrapper{
    min-height: 100%;
    height: auto !important;
    height: 100%;
    margin-bottom: -$footer-height;
}

.navbar {
    background-color: $primary;
    box-shadow: 0px none;
    height: $header-height;
    margin-bottom: 0px;

    .navbar-brand{
        padding-top: 0px;
        padding-bottom: 0px;
        margin-right: 20px;

        img{
            width: $header-height - 10;
            height: $header-height - 10;
            margin: 3px 0px;
            margin-right: 10px;
        }

        h1{
            color: #fff;
            display: inline-block;
            line-height: $header-height - 10;
            font-size: 22px;
            padding-top: 3px;
            margin: 0px;
            font-weight: 300;
            vertical-align: middle;
        }
    }

    ul.nav{
        i{
            margin-right: 5px;
        }

        li{
            a{
                padding: 0px 20px;
                height: $header-height;
                line-height: $header-height;
                color: #fff;

                &:focus, &:hover{
                    color: #fff;
                    background-color: lighten($primary, 5%);
                }
            }

            &.active{
                a{
                    background-color: $primary-highlight;

                    &:focus, &:hover{
                        background-color: $primary-highlight;
                    }
                }
            }
        }
    }
}

.header{
    line-height: 40px;
    border-bottom: 1px solid #eee;

    .nav-tabs {
        border: 0px none;

        li{
            margin: 0px;
        }

        a{
            border: 1px solid transparent;
            margin: 0px;
        }

        a:hover{
            background: transparent;
            border: 1px solid transparent;
        }
    }
}

h3{
    a.back{
        font-size: 13px;
        display: inline-block;
        margin-right: 5px;
        color: $primary-soft;
        font-weight: 400;
    }
}

#content{
    h3:first-child{
        margin-top: 0px;
        display: inline-block;
    }
}

.btn-add-dataset{
    margin-top: -10px;
}

.btn{
    background-color: lighten($secondary, 10%);
    border: 1px solid darken($secondary, 7%);
    border-radius: 2px;
    color: #333;

    &.btn-cta{
        background-color: $green;
        color: #fff;
        border: 1px solid darken($green, 7%);

        &:focus, &:hover{
            background-color: darken($green, 7%);
            border: 1px solid darken($green, 7%);
        }
    }

    i{
        margin-right: 5px;
    }

    i.icon-only{
        margin-right: 0px;
    }

    &:focus, &:hover{
        background-color: lighten($secondary, 15%);
        border: 1px solid $secondary;
    }

    &.btn-primary{
        background-color: $primary;
        color: #fff;
        border: 1px solid darken($primary, 7%);

        &:focus, &:hover{
            background-color: $primary-highlight;
            border: 1px solid darken($primary-highlight, 7%);
        }
    }

    &.margin-left{
        margin-left: 10px;
    }
}

input{
    box-shadow: none !important;

    &:focus{
        box-shadow: none !important;
        border: 1px solid $secondary !important;
        border-bottom: 1px solid $highlight !important;
    }
}

.input-group-btn:last-child{
    .btn{
        border-left: 0px none;
    }
}

a{
    color: $primary;

    &:focus, &:hover{
        text-decoration: none;
        color: $highlight;
    }
}

.well{
    border: 1px solid $secondary;
    background: #fff;
    box-shadow: none;
}

// .navbar .nav>li>a {
//     color: #328D81;
//     padding: 10px 15px 10px;
//     text-shadow:none;
//     margin-top: 7px;
// }

// .navbar .nav>li>a:hover {
//     color: #FF2C4C;
// }

// .navbar .nav {
//     float: right;
//     margin: 17px 0 0 0;
// }

// .active {
//     color: #FF2C4C;

// }

footer{
    height: $footer-height;
    width: 100%;
    background-color: #fff;
    color: $primary-soft;
    border-top: $footer-border solid $secondary;
    line-height: $footer-height - $footer-border;
    // box-shadow: 0px -2px 0px 0px $secondary;
    font-size: 11px;
}

.push{
    height: $footer-height;
    width: 100%;
}

.row{
    margin: 0px;
}

.panel{
    .row > div{
        padding: 0px;
    }

    &.dataset-parameters{
        padding: 10px 30px;
    }

    &.collection{
        background-color: lighten($primary-soft, 20%);

        &:hover{
            background-color: lighten($primary-soft, 18%) !important;
        }
    }

    hr{
        margin-top: 5px;
        border-color: #eee;
    }

    &.dataset{
        clear: both;
        margin: 0px;
        box-shadow: none !important;
        cursor: pointer;
        margin-top: -1px;

        &.dataset-link{
            .icon{
                line-height: 18px;
            }

            h4{
                margin-bottom: 0px;
            }

            .panel-body{
                padding: 7px;
            }

        }

        &.button-row{

            .icon{
                line-height: 24px;
            }

            h4{
                line-height: 22px;
            }

            .panel-body{
                padding-bottom: 0px;
                line-height: 24px;
            }

            .btn{
                height: 25px;
                font-size: 13px;
                padding: 2px 6px;
                margin: 0px;
                margin-right: 3px;

                &:last-child{
                    margin-right: 0px;
                }
            }
        }

        a:hover{
            color: inherit;
        }

        &:hover{
            background-color: $secondary-highlight;
            color: $primary;
        }

        h4{
            margin-top: 0px;
            margin-bottom: 5px;
        }

        .icon{
            width: 5%;
            height: 100%;
            float:left;
            line-height: 42px;
            text-align: center;
            margin-left: -15px;

            & + div{
                width: 95%;
                display: inline-block;
            }
        }
    }
}

.empty{
    margin-bottom: 20px;
}

.table{
    thead>tr>th {
        border-bottom: 0px none;
    }

    tbody{
        tr:hover{
            td{
                background-color: $secondary-highlight !important;
            }
        }
    }
}

.note{
    color: $primary-soft;
}

.map-container{
    width: 100%;
    position: absolute;
    top: $header-height;
    bottom: $footer-height;

    iframe{
        width: 100%;
        height: 100%;
        border: 0px none;
    }
}

.modal{
    .form-group:last-child{
        margin-bottom: 0px;
    }

    .modal-footer{
        margin-top: 0px;
    }
}

.modal-backdrop{
    background: rgba(0, 0, 0, 0.3);
}

.modal-content {
    box-shadow: none !important;
}

.hover-help{
    color: $primary-soft;
}

.edit-permissions{
    margin-bottom: 14px !important;
}

.permissions{
    margin-bottom: 15px;

    & > div > form > div{
        margin-bottom: 10px;
    }

    label{
        margin-left: 5px;
        font-weight: normal;
        margin-right: 20px;
    }
}

.alert{
    border: 0px none;

    i{
        margin-right: 5px;
        vertical-align: middle;

        &.fa-2x{
            margin-top: -1px;
            margin-right: 9px;
        }
    }

    &.alert-danger{
        background-color: $primary-soft;
        color: #fff;
    }
}

button.close {
    text-shadow: none;
    color: #fff !important;
    opacity: 0.8;
    margin-top: -3px;
    font-weight: normal;
}

@media(max-width:768px){

    body{
        padding-top: 0px;
    }

    .navbar {
        position: relative;
        height: auto;
        padding: 0px;

        .nav{
            margin: 0px;
            margin-top: $header-height;

            a{
                border-radius: 0px;
            }
        }
    }

    .wrapper{
        padding: ($header-height + 15px) 0px 0px 0px;
        margin-top: -$header-height - 1;
    }


    .panel{

        &.dataset{

            .icon{
                width: 15%;
                line-height: 20px;

                & + div{
                    width: 85%;
                }
            }
        }
    }

}