@import 'bootstrap';
@import 'font-awesome';

$primary: #183440;
$primary-highlight: #3C606E;
$primary-soft: desaturate(lighten($primary-highlight, 63%), 3%);

$background: desaturate(lighten($primary-highlight, 64%), 3%);

$border-color: desaturate(lighten($primary-highlight, 52%), 10%);
$border-color-soft: desaturate(lighten($primary-highlight, 55%), 10%);

$button-color: $primary;
$button-background: desaturate(lighten($primary-highlight, 60%), 15%);
$button-background-hover: lighten($button-background, 4%);
$button-border: $border-color;
$button-border-hover: $button-border;

$button-primary-background: $primary;
$button-primary-background-hover: lighten($button-primary-background, 10%);
$button-primary-border: $button-primary-background;
$button-primary-border-hover: $button-primary-background;

$button-cta-background: #36ab70;
$button-cta-background-hover: lighten($button-cta-background, 5%);
$button-cta-border: $button-cta-background;
$button-cta-border-hover: $button-cta-background-hover;

$text-softer: desaturate(lighten($primary-highlight, 35%), 15%);

$disabled-background: $primary-soft;
$disabled-color: $text-softer;

$highlight: $button-cta-background;

$header-height: 40px;
$footer-height: 35px;
$footer-border: 1px;

@import 'intro';
@import 'prettify';

*{
    outline: none !important;
}

html, body{
    height: 100%;
}


body {
    background-color: $background;
    font-family: 'Open Sans', 'Oswald', sans-serif;
    font-size: 12px;
    color: #3C606E;
    padding-top: $header-height;
}

.wrapper{
    min-height: 100%;
    height: auto !important;
    height: 100%;
    margin-bottom: -$footer-height;
}

.content-wrapper{
    padding-top: 20px;
}

.navbar {
    background-color: $primary;
    box-shadow: 0px none;
    height: $header-height;
    line-height: $header-height;
    margin-bottom: 0px;
    min-height: $header-height;

    .navbar-brand{
        padding-top: 0px;
        padding-bottom: 0px;
        margin-right: 20px;
        font-family: 'Varela Round';
        line-height: $header-height;

        &.admin{
            margin: 0px;
            background: #000;
            height: $header-height;

            &:hover, &:focus{
                background: $highlight;
            }
        }

        img{
            width: $header-height - 20;
            height: $header-height - 20;
            margin-right: 5px;
            margin-top: -1px;
            display: inline-block;
        }

        h1{
            margin: 0px;
            display: inline-block;
            font-size: 15px;
            color: #fff;
            line-height:  $header-height;
            font-weight: 100;
            text-transform: uppercase;
        }
    }

    ul.nav{
        i{
            margin-right: 5px;
        }

        li{
            a{
                padding: 0px 20px;
                height: $header-height;
                line-height: $header-height;
                color: #fff;

                &:focus, &:hover{
                    color: #fff;
                    background-color: lighten($primary, 5%);
                }
            }

            &.active{
                a{
                    background-color: $primary-highlight;

                    &:focus, &:hover{
                        background-color: $primary-highlight;
                    }
                }
            }
        }
    }

    .search{
        height: $header-height;
        max-width: 300px;
        display: inline-block;
        margin-right: 15px;
        position: relative;

        input{
            height: $header-height - 12;
            line-height: 14px;
            padding: 5px 15px;
            padding-right: 35px;
            border: 0px none;
            border-radius: 30px;
            background: $primary-highlight;
            color: #fff !important;

            &:focus, &:hover{
                border: 0px none !important;
                box-shadow: none;
                outline: 0;
            }

            &::-webkit-input-placeholder {
                line-height: 15px;
                color: desaturate(lighten($primary-highlight, 20%), 10%);
            }

            &:-moz-placeholder { /* Firefox 18- */
                line-height: 15px;
                color: desaturate(lighten($primary-highlight, 20%), 10%);
            }

            &::-moz-placeholder {  /* Firefox 19+ */
                line-height: 15px;
                color: desaturate(lighten($primary-highlight, 20%), 10%);
            }

            &:-ms-input-placeholder {
                line-height: 15px;
                color: desaturate(lighten($primary-highlight, 20%), 10%);
            }
        }

        i{
            position: absolute;
            right: 15px;
            top: ($header-height - 30px) / 2;
            height: 30px;
            line-height: 30px;
            color: #fff;
        }
    }

    .pagination{
        height: $header-height;
        max-width: 300px;
        display: inline-block;
        margin: ($header-height - 30px) / 2;
        position: relative;
        float: right;

        li{
            padding-left: 10px;
            display: inline-block;
            height: 30px;
            color: #fff;
        }

        a{
            border: 0px none;
            background: $primary-highlight;
            color: #fff;
            height: 30px;

            &:focus, &:hover{
                background: lighten($primary-highlight, 10%);
            }
        }
    }
}

.header{
    line-height: 60px;
    height: 60px;
    border-bottom: 1px solid $border-color;
    background: #fff;

    h3{
        margin: 0px;
        line-height: 60px;
        font-size: 16px;

        a{
            padding: 0px;
            margin: 0px;
            margin-right: 10px;
            display: inline-block;
            color: $text-softer;
            font-weight: 400;
        }
    }

    .nav-tabs {
        border: 0px none;

        li{
            margin: 0px;

            &.active{
                a{
                    border-color: $border-color;
                    border-top: 0px none;
                    border-bottom: 0px none;
                    background: $background;
                    z-index: 99;
                }
            }
        }

        a{
            border: 1px solid transparent;
            margin: 0px;
            height: 60px;
            line-height: 60px;
            padding: 0px 20px;
            border-top: 0px none;
            margin-left: -1px;
        }

        a:hover{
            background: transparent;
            border: 1px solid $border-color-soft;
            border-top: 0px none;
            border-bottom: 0px none;
            color: inherit;
        }
    }

    .btn{
        margin-top: -4px;
    }

    .input-group{
        display: block;
    }
}

h3{
    font-size: 20px;
    font-weight: 600;
}

h4{
    font-size: 16px;

    i{
        margin-right: 5px;
    }
}

#content{
    h3:first-child{
        margin-top: 0px;
        display: inline-block;
    }
}

.btn-add-dataset{
    margin-top: -10px;
}

.btn{
    background-color: $button-background;
    border: 1px solid $button-border;
    border-radius: 0px !important;
    color: $button-color;
    font-size: 13px;

    &.margin-left{
        margin-left: 10px;
    }

    i{
        margin-right: 5px;
    }

    i.icon-only{
        margin-right: 0px;
    }

    &:focus, &:hover{
        background-color: $button-background-hover;
        border: 1px solid $button-border-hover;
    }

    &.btn-primary{
        background-color: $button-primary-background;
        border: 1px solid $button-primary-border;
        color: #fff;
        font-weight: bold;

        &:focus, &:hover{
            background-color: $button-primary-background-hover;
            border: 1px solid $button-primary-border-hover;
        }
    }

    &.btn-cta{
        color: #fff;
        font-weight: bold;
        background-color: $button-cta-background;
        border: 1px solid $button-cta-border;

        &:focus, &:hover{
            background-color: $button-cta-background-hover;
            border: 1px solid $button-cta-border-hover;
        }
    }
}

input, textarea{
    box-shadow: none !important;
    font-size: 12px;
    border-color: $border-color !important;

    &:focus{
        box-shadow: none !important;
        border: 1px solid $border-color !important;
        border-bottom: 1px solid $highlight !important;
    }
}

textarea{
    resize: vertical;
}

.form-control, .input-group-addon{
    font-size: 12px;
    padding: 6px 8px;
}

.input-group-addon{
    background: $disabled-background;
    color: $disabled-color;
    border: 1px solid $border-color-soft;
}

.input-group-btn:last-child{
    .btn{
        border-left: 0px none;
    }
}

.input-medium{
    max-width: 150px;
}

a{
    color: $primary;

    &:focus, &:hover{
        text-decoration: none;
        color: $highlight;
    }
}

.well{
    border: 1px solid $border-color-soft;
    background: #fff;
    box-shadow: none;
}

// .navbar .nav>li>a {
//     color: #328D81;
//     padding: 10px 15px 10px;
//     text-shadow:none;
//     margin-top: 7px;
// }

// .navbar .nav>li>a:hover {
//     color: #FF2C4C;
// }

// .navbar .nav {
//     float: right;
//     margin: 17px 0 0 0;
// }

// .active {
//     color: #FF2C4C;
// }

footer{
    height: $footer-height;
    width: 100%;
    background-color: #fff;
    color: $text-softer;
    border-top: $footer-border solid $border-color;
    line-height: $footer-height - $footer-border;
    font-size: 10px;
}

.push{
    height: $footer-height;
    width: 100%;
}

.row{
    margin: 0px;
}

.panel{
    border-color: $border-color-soft !important;

    .row > div{
        padding: 0px;
    }

    &.dataset-parameters{
        padding: 10px 30px;
    }

    &.collection{

        &:hover{
            background-color: $primary-soft !important;
        }
    }

    hr{
        margin-top: 5px;
        border-color: $border-color-soft;
    }

    .panel-body{
        padding: 12px 8px;
    }

    &.dataset{
        clear: both;
        margin: 0px;
        box-shadow: none !important;
        cursor: pointer;
        margin-top: -1px;
        font-size: 12px;

        &.dataset-link{
            .icon{
                line-height: 18px;
            }

            h4{
                margin-bottom: 0px;
            }

            .panel-body{
                padding: 7px;
                padding-right: 0px;
            }

        }

        &.button-row{

            .icon{
                line-height: 24px;
            }

            h4{
                line-height: 22px;
            }

            .panel-body{
                padding-bottom: 0px;
                line-height: 24px;
            }

            .btn{
                height: 25px;
                font-size: 13px;
                padding: 2px 10px;
                margin: 0px;
                margin-right: -1px;

                &:last-child{
                    margin-right: 0px;
                }
            }
        }

        a:hover{
            color: inherit;
        }

        &:hover{
            color: $primary;
            background-color: $primary-soft;
        }

        h4{
            margin-top: 0px;
            margin-bottom: 5px;
            font-size: 14px;
            font-weight: bold;
        }

        .icon{
            width: 5%;
            height: 100%;
            float:left;
            line-height: 36px;
            text-align: center;
            margin-left: -15px;

            & + div{
                width: 95%;
                display: inline-block;
            }
        }
    }
}

.empty{
    margin-bottom: 20px;
}

.table{
    border-color: $border-color-soft !important;

    td{
        border-color: $border-color-soft !important;
    }

    thead>tr>th {
        border-bottom: 0px none;
    }

    tbody{
        tr:hover{
            td{
                background-color: $primary-soft !important;
            }
        }
    }

    &.triples{
        border: 1px solid;
    }
}

.scroll-horizontal{
    border: 1px solid $border-color-soft !important;
    overflow-x: auto;
    margin-bottom: 15px;

    .table{
        border: 0px none !important;
        margin-bottom: 0px;
    }
}

.note{
    color: $text-softer;
}

.map-container{
    width: 100%;
    position: absolute;
    top: $header-height;
    bottom: $footer-height;

    iframe{
        width: 100%;
        height: 100%;
        border: 0px none;
    }
}

.modal{
    .form-group:last-child{
        margin-bottom: 0px;
    }

    h4{
        font-size: 16px;
    }

    .modal-footer{
        margin-top: 0px;
    }
}

.modal-backdrop{
    background: rgba(0, 0, 0, 0.3);
}

.modal-content {
    box-shadow: none !important;
}

.hover-help{
    color: $text-softer;
}

.edit-permissions{
    margin-bottom: 14px !important;
}

.permissions{
    margin-bottom: 15px;

    & > div > form > div{
        margin-bottom: 10px;
    }

    label{
        margin-left: 5px;
        font-weight: normal;
        margin-right: 20px;
    }
}

.alert{
    border: 0px none;

    i{
        margin-right: 5px;
        vertical-align: middle;

        &.fa-2x{
            margin-top: -1px;
            margin-right: 9px;
        }
    }

    &.alert-danger{
        background-color: #e74c3c;
        color: #fff;
    }
}

.introjs{
    i{
        margin-bottom: 20px;
    }
}

button.close {
    text-shadow: none;
    color: #fff !important;
    opacity: 0.8;
    margin-top: -3px;
    font-weight: normal;
}

.list-group{
    font-size: 12px;

    h5{
        font-size: 13px;
        font-weight: bold;
        margin-bottom: 8px;
    }

    .list-group-item{
        border-color: $border-color;
    }
}

.help-block{
    color: $text-softer;
}

.form-control[disabled], .form-control[readonly], fieldset[disabled] .form-control {
    background: $disabled-background;
    color: $disabled-color;
}

.formats{
    .btn{
        font-size: 10px;
        font-weight: bold;
    }
}

.no-padding{
    padding: 0px;
}

@media(max-width:768px){

    body{
        padding-top: 0px;
    }

    .navbar {
        position: relative;
        height: auto;
        padding: 0px;

        .nav{
            margin: 0px;
            margin-top: $header-height;

            a{
                border-radius: 0px;
            }
        }

        .search{
            height: auto;
        }
    }

    .wrapper{
        padding: ($header-height + 15px) 0px 0px 0px;
        margin-top: -$header-height - 1;
    }


    .panel{

        &.dataset{

            .icon{
                width: 15%;
                line-height: 20px;

                & + div{
                    width: 85%;
                }
            }
        }
    }

}

div.leaflet-container{
    min-height: 450px;
}


@media(max-width:500px){
    .navbar{
        .search{
            width: 80%;

            input{
                width: 100%;
            }
        }
    }
}